body {font-family: Helvetica, sans-serif;}
header {text-align: center;}
.subtitle {color: #72DB02}
#masthead { text-align: center;}
.thumbnail {
  width: 150px;
  height: 100px;
}
article {
  display: grid;
  grid: "img meta" auto / 200px auto;
  margin-bottom: 20px;
}
.article-img {
  grid-area: img;
  justify-self: center;
}
.article-meta {
  grid-area: meta;
  align-self: start;
}
